







.home{
    background-color: #E7FBFF;
    /* margin: 2px; */
   position: absolute;
   left: 0;
   right: 0;
   /* width: 100vw; */
   top: 70px;
   min-height: 100vh;
   
}
.div1{
    font-size: 300px;
    font-weight: 600;
    margin-top: -40px;
    color: black;
    margin-bottom: -170px;
}
.div2{
    font-size: 250px;
    font-weight: 600;
 
    color: black;
}
.start{
    width: 250px;
    height: 60px;
    font-size: 30px;
    margin-left: 75%;
    margin-top: -15%;
    background-color: blue;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}